<!-- app/views/posts/new.html.erb -->

<h1>New Post</h1>

<%= render 'form' %>

<button><%= link_to 'Back', posts_path %></button>

<style>
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

h1 {
  margin-bottom: 20px;
}
</style>