<!-- app/views/posts/new.html.erb -->
<div class="h2">
  <h1 style="color:blue;text-align:center;font-size:60px">New Post</h1>

  <%= render 'form' %>

  <button><%= link_to 'Back', posts_path %></button>
</div>